<nav class="flex justify-between container p-6 md:p-8">
  <a href="/" class="font-display text-5xl">
    <span class="text-yellow2">JS</span>
    <span class="text-dark1">Blog</span>
  </a>
  <ul class="flex justify-center items-center">
    <li class="mx-2 md-mx-4 hover:scale-105 transition-transform">
      <a
        href="/posts"
        class="font-sans capitalize font-semibold leading-none text-xl text-grey1"
      >
        posts
      </a>
    </li>

    <li class="mx-2 md-mx-4 hover:scale-105 transition-transform">
      <a
        href="/about"
        class="font-sans capitalize font-semibold leading-none text-xl text-grey1"
      >
        about
      </a>
    </li>
  </ul>
</nav>
